* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background:radial-gradient(circle, rgb(147, 210, 240), rgba(12, 77, 218, 0.568));
    min-width: 100vw;
    min-height: 100vh;
    /* margin: -8px -8px -10px -10px; */
}